
BUW Logo.png
Color Pallet.png
convolution.png
myImage.jpg
myImage2.png
myImage3.jpg
myImage4.gif
myImage5.jfif
Books/Bildverarbeitung.pdf
Books/Computer Vision.pdf
Books/Principles of digital image processing.pdf
Edited Images/Color Pallet.png
Edited Images/convolution.png
Edited Images/EditedImageBlur5.png
Edited Images/EditedImageBrightness-100.png
Edited Images/EditedImageBrightness100.png
Edited Images/EditedImageCombinedAdjustments.png
Edited Images/EditedImageCombinedAdjustments2.png
Edited Images/EditedImageContrast-50.png
Edited Images/EditedImageContrast50.png
Edited Images/EditedImageGreyScale.png
Edited Images/EditedImageInvert.png
Edited Images/EditedImageSaturation5.png
Edited Images/EditedImageSepia.png
Edited Images/EditedImageSharpness1.png
Edited Images/EditedImageSolarize.png
Edited Images/EditedImageTemperature-30.png
Edited Images/EditedImageTemperature30.png
Edited Images/Image.jpg
project screenshots/Editor – 1.png
project screenshots/Editor – 3.png
project screenshots/Editor – 4.png
project screenshots/Editor.png
project screenshots/Landing page.png
BachelorThesis.odt
myImage.jpg
myImage2.png
myImage3.jpg
myImage4.gif
myImage5.jfif
