*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

:root {
    --background-color: #030303;
    --light-background-color: #23262A;
    --lighter-background-color: #35393F;
    --text-color: #FFFFFF;
    --primary-color: #A70E4E;
    --navbar-height: 3rem;
    --ff-primary: 'Montserrat Alternates', sans-serif;
    --ff-title: 'Fredoka One', cursive;
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-info {
    height: 100%;
    display: flex;
    align-items: center;
}
.app-logo {
    height: 100%;
}
.app-logo-img {
    height: 100%;
    width: auto;
}
.app-name {
    padding: 0 1rem;
    color: var(--text-color);
    font-family: 'Righteous', cursive;
    font-size: .7rem;
    letter-spacing: .125em;
    text-decoration: none;
}
.nav-links-list {
    display: flex;
    list-style: none;
    
}
.nav-links-list-item > a {
    padding-right: 2rem;
    color: var(--text-color);
    font-family: var(--ff-primary);
    font-size: 1rem;
    letter-spacing: .125em;
    text-decoration: none;
}

section {
    width: 100%;
    scroll-margin-top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--background-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.discription {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-title {
    font-family: var(--ff-title);
    font-size: 2.7rem;
}

.main-text {
    max-width: 60%;
   font-family: var(--ff-primary);
   font-size: 1.6rem;
   line-height: 2.5rem;
}

.button-grp {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.button-grp > a {
    font-family: var(--ff-primary);
    color: var(--text-color);
    text-decoration: none;
    padding: 1.2em 2rem;
    border-radius: .5rem;
}

.primary-btn {
    background-color: var(--primary-color);
}

.main-img {
    display: block;
    width: 40%;
    height: 100%;
    
    background-image: url(./bg.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#demo-section {
    flex-direction: column;
    justify-content: space-evenly;
}
.card-container {
    
    height: 60%;
    width: 90%;
    margin-inline: 2rem;

    display: flex;
    justify-content: space-evenly;
}

.card1, .card2, .card3 {
    background-color: var(--lighter-background-color);
    width: 30%;
    height: 90%;
    border-radius: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1 > .icon, .card2 > .icon, .card3> .icon {
    display: block;
    width: 30%;
    height: 60%;
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.card1 > .icon {
    background-image: url(./upload-inv.png);
}

.card2 > .icon {
    background-image: url(./edit-image-inv.png);
}

.card3 > .icon {
    background-image: url(./direct-download-inv.png);
}

.card-container p {
    font-family: var(--ff-primary);
    font-size: 1.4rem;
    text-align: center;
    margin-inline: 0.5rem;
}

#about-section {
    height: calc(100vh - (2*var(--navbar-height)));
    flex-direction: column;
    justify-content: space-evenly;
}

.about-container {
    
    height: 75%;
    width: 90%;
    margin-inline: 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

.about-discription {
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    line-height: 2rem;
}

.uni-logo{
    display: block;
    width: 100%;
    height: 100%;
    
    background-image: url(./BUW_Logo-white.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--primary-color);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    height: var(--navbar-height);
    display: flex;
    justify-content: flex-end;
}

.footer-links-list {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}

.footer-links-list-item {
    height: 100%;
    width: auto;
    padding: 0.2rem;
}

.footer-links-list-item > a {
    height: 100%;
    padding-right: 2rem;
    color: var(--text-color);
    font-family: var(--ff-primary);
    font-size: 1rem;
    letter-spacing: .125em;
    text-decoration: none;
}

.footer-links-list-item img {
    height: 100%;
}