body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-wrapper {
    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.canvases {

    display: flex;
    gap: 20px;

}

canvas {

    border: 1px solid #000;

}

input {

    margin-left: 10px;
    margin-bottom: 10px;

}